CompileFlags:
  Add: [
    "-I/opt/homebrew/include/json-c",
    "-L/opt/homebrew/lib",
    "-I/opt/homebrew/Cellar/json-c/0.18/include",
    "-I/opt/homebrew/Cellar/json-c/0.18/include/json-c",
    "-L/opt/homebrew/Cellar/json-c/0.18/lib",
    "-ljson-c"
  ]

